*.diff
*.patch
*.orig
*.rej

*~
*.a
*.flt
*.gdb
*.gmo
*.info
*.la
*.lo
*.o
*.tmp

.deps
.libs

autom4te.cache
config.cache
config.h
config.intl
config.log
config.status
libtool
Makefile
stamp-*
POTFILES
*-POTFILES
*/po/Makefile.in

.gdbinit
.gdb_history
core

lost+found

*.log
*.sum
